// src/styles/main.scss
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .app-container {
    display: flex;
    height: 100vh;
  }

  .main-content {
    flex-grow: 1;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 200px;
  }
  
  .sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  
  .discover {
    color: red;
  }

  /* Sidebar.scss */
.sidebar {
    width: 200px; /* Set your initial width */
    height: 100vh;
    background-color: #333;
    color: white;
    transition: width 0.3s ease; /* Add a transition for a smooth effect */
  }
  
  .sidebar.open {
    width: 60px; /* Adjust this to your smaller width */
  }
  
  .toggle-button img {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    color: white;
  }

  .toggle-icon {
    font-size: 30px;
  }
  